<header
  class="flex w-full items-center justify-between px-3 py-2 shadow-header transition-all dark:bg-slate-800 dark:shadow-slate-800 sm:justify-end sm:px-5 sm:py-3"
>
  <div class="flex items-center gap-3 sm:hidden sm:gap-5" *ngIf="!forAuth">
    <span
      nz-icon
      nzType="menu-unfold"
      nzTheme="outline"
      class="cursor-pointer text-xl text-gray-500 dark:text-primary sm:text-2xl"
      (click)="drawer.drawer = !drawer.drawer"
    ></span>
  </div>
  <app-custome-image
    src="../../../../assets/logo.svg"
    alt="main logo"
    class="flex w-28 cursor-pointer sm:hidden"
    [routerLink]="['/']"
  />
  <div class="flex items-center gap-5">
    <div class="checkbox-wrapper-54">
      <label class="switch">
        <input
          type="checkbox"
          [checked]="darkMode"
          (change)="changeMode($event)"
        />
        <span class="slider"></span>
      </label>
    </div>
    <nz-avatar
      nz-dropdown
      [nzDropdownMenu]="menu"
      nzText="{{ avatarText() }}"
      [nzSrc]="userInfo.img"
      [nzSize]="40"
      *ngIf="userInfo.email"
      class="cursor-pointer bg-primary"
    ></nz-avatar>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item [routerLink]="['/profile']">
          <span nz-icon nzType="profile" nzTheme="outline"></span>
          Profile
        </li>
        <li nz-menu-item nzDanger (click)="logOut()">
          <span nz-icon nzType="logout" nzTheme="outline"></span>
          Log out
        </li>
      </ul>
    </nz-dropdown-menu>
    <a [routerLink]="['/login']" *ngIf="!userInfo.name && !forAuth">
      <button
        nz-button
        nzType="link"
        class="!bg-gradient-to-r !from-[#e2239d] !to-[#7903fe] !bg-clip-text p-0 text-base font-bold !text-transparent hover:!opacity-90 md:text-lg"
      >
        Login
      </button>
    </a>
    <a [routerLink]="['/']" *ngIf="!userInfo.name && forAuth">
      <button
        nz-button
        nzType="link"
        class="!bg-gradient-to-r !from-[#e2239d] !to-[#7903fe] !bg-clip-text p-0 text-base font-bold !text-transparent hover:!opacity-90 md:text-lg"
      >
        Home
      </button>
    </a>
  </div>
</header>
