<header
  class="flex w-full justify-between items-center px-3 sm:px-5 py-2 sm:py-3 dark:bg-slate-800 shadow-md"
>
  <app-custome-image
    src="../../../../assets/logo.svg"
    alt="main logo"
    class="w-28 sm:w-32 cursor-pointer"
    [routerLink]="['/']"
  />
  <div class="flex gap-5 items-center">
    <div class="checkbox-wrapper-54">
      <label class="switch">
        <input
          type="checkbox"
          [checked]="darkMode"
          (change)="changeMode($event)"
        />
        <span class="slider"></span>
      </label>
    </div>
    <nz-avatar
      nzText="{{ avatarText() }}"
      [nzSrc]="userInfo.img"
      [nzSize]="40"
      *ngIf="userInfo.email"
      (click)="logOut()"
      class="cursor-pointer bg-primary"
      [nzTooltipTitle]="tooltipText()"
      nzTooltipPlacement="bottomRight"
      nz-tooltip
    ></nz-avatar>
    <a [routerLink]="['/login']" *ngIf="!userInfo.name && !forAuth">
      <button
        nz-button
        nzType="link"
        class="p-0 text-base md:text-lg text-primary"
      >
        Login
      </button>
    </a>
    <a [routerLink]="['/']" *ngIf="!userInfo.name && forAuth">
      <button nz-button nzType="link" class="p-0 md:text-lg text-primary">
        Home
      </button>
    </a>
  </div>
</header>
