<div class="flex items-center justify-between">
  <label
    nz-checkbox
    [nzChecked]="todo.isDone"
    (nzCheckedChange)="changeTodoChecked()"
    class="text-base md:text-lg dark:text-white capitalize flex gap-2 sm:gap-3 {{
      todo.isDone && 'line-through opacity-50'
    }}"
    >{{ todo.name }}</label
  >
  <div class="flex items-center gap-3 sm:gap-5">
    <span
      nz-icon
      nzType="edit"
      [nzTheme]="todo.isDone ? 'fill' : 'outline'"
      class="text-xl cursor-pointer text-primary"
      (click)="readyToEdit()"
    ></span>
    <span
      nz-icon
      nzType="delete"
      [nzTheme]="todo.isDone ? 'fill' : 'outline'"
      class="text-xl cursor-pointer text-red-500"
      (click)="deleteTodo()"
    ></span>
  </div>
</div>
